40sp/genome_annotation/
40sp/genome_assemblies/
40sp/old_analyses/
40sp/out-files/
40sp/data/
40sp/data_renamed/
40sp/blast_results/
40sp/ncbi-data/
40sp/*out
40sp/mut_sequences/alignments/
40sp/phylogeny/alignments/
40sp/phylogeny/headers_renamed/
40sp/phylogeny/*out
40sp/phylogeny/40sp*

other_species/data/busco/
other_species/data/genome_annotation/
other_species/data/genome_assemblies/
other_species/data/pbrassicacearum/
other_species/data/pfluorescens/
other_species/data/psavastanoi/
other_species/data/pviridiflava/
other_species/data/quast/
other_species/data/run_quast/batch_scripts/
other_species/data/run_quast/run/
other_species/data/run_busco/batch_scripts/
other_species/data/run_busco/run/
other_species/blast_analyses_filter/blast_results/
other_species/blast_analyses_filter/mut_sequences/
other_species/blast_analyses_filter/*out
other_species/blast_analyses_filter/*csv
other_species/mut_genes/alignments_aa/
other_species/mut_genes/alignments_nt/
other_species/mut_genes/blast_results_faa/
other_species/mut_genes/blast_results_ffn/
other_species/mut_genes/faa_files/
other_species/mut_genes/faa_files_renamed/
other_species/mut_genes/ffn_files/
other_species/mut_genes/ffn_files_renamed/
other_species/mut_genes/genes/
other_species/mut_genes/mut_sequences_nt/
other_species/mut_genes/mut_sequences_protein/
other_species/mut_genes/protein_analysis/
other_species/mut_genes/*out
other_species/mut_genes/*csv
other_species/tables/*csv
other_species/tables/*txt
other_species/mut_genes/*tsv

pprotegens/00_sra_data_assembly/
pprotegens/01_select_assemblies/results/
pprotegens/01_select_assemblies/scripts/slurm_out/
pprotegens/01_select_assemblies/scripts/busco_downloads/
pprotegens/01_select_assemblies/scripts/genome_annotation/*out
pprotegens/01_select_assemblies/scripts/genome_annotation/*err
pprotegens/01_select_assemblies/scripts/genome_annotation/batch_scripts/
pprotegens/01_select_assemblies/scripts/ncbi_tables_modifications/*csv
pprotegens/01_select_assemblies/scripts/ncbi_tables_modifications/*out
pprotegens/01_select_assemblies/scripts/ncbi_tables_modifications/*tsv
pprotegens/01_select_assemblies/scripts/ncbi_tables_modifications/plot/
pprotegens/01_select_assemblies/scripts/ncbi_tables_modifications/01_assemblynames
pprotegens/02_alignments_and_phylogeny/results/
pprotegens/02_alignments_and_phylogeny/scripts/interproscan-5.59-91.0/
pprotegens/02_alignments_and_phylogeny/scripts/temp/
pprotegens/02_alignments_and_phylogeny/scripts/interproscan*
pprotegens/02_alignments_and_phylogeny/scripts/*out
pprotegens/02_alignments_and_phylogeny/scripts/phylogenomics/iqtree*
pprotegens/02_alignments_and_phylogeny/scripts/phylogenomics/pprotegens*
pprotegens/02_alignments_and_phylogeny/scripts/phylogenomics/*out
pprotegens/02_alignments_and_phylogeny/scripts/phylogeny
pprotegens/02_alignments_and_phylogeny/scripts/rDNA/*out
pprotegens/02_alignments_and_phylogeny/scripts/rDNA/*csv
pprotegens/data/
pprotegens/mut_genes/protein_analysis/alignments/
pprotegens/mut_genes/protein_analysis/blast_results_faa/
pprotegens/mut_genes/protein_analysis/faa_renamed/
pprotegens/mut_genes/protein_analysis/mut_sequences/
pprotegens/mut_genes/protein_analysis/*csv
pprotegens/mut_genes/protein_analysis/*out
pprotegens/mut_genes/protein_analysis/*txt

psyringae_group/data/
psyringae_group/mut_genes/alignments/
psyringae_group/mut_genes/blast_results/
psyringae_group/mut_genes/extra_mut_sequences_manual
psyringae_group/mut_genes/ffn_renamed/
psyringae_group/mut_genes/ffn_sequences/
psyringae_group/mut_genes/*out
psyringae_group/mut_genes/*csv
psyringae_group/mut_genes/mut_sequences/
psyringae_group/mut_genes/old_analyses
psyringae_group/mut_genes/protein_analysis/*out
psyringae_group/mut_genes/protein_analysis/*csv
psyringae_group/mut_genes/protein_analysis/clusters_old/
psyringae_group/mut_genes/protein_analysis/alignments/
psyringae_group/mut_genes/protein_analysis/alignments_old/
psyringae_group/mut_genes/protein_analysis/alignments_old2/
psyringae_group/mut_genes/protein_analysis/alignment_visualization/
psyringae_group/mut_genes/protein_analysis/*txt
psyringae_group/mut_genes/protein_analysis/faa_sequences/
psyringae_group/mut_genes/protein_analysis/faa_renamed/
psyringae_group/mut_genes/protein_analysis/mut_sequences/
psyringae_group/mut_genes/protein_analysis/otherfiles/
psyringae_group/results/
psyringae_group/scripts/test_blastn_accuracy/
psyringae_group/scripts/test_from_json/
psyringae_group/scripts/*out
psyringae_group/scripts/rDNA/*out
psyringae_group/scripts/rDNA/*csv
psyringae_group/scripts/ncbi_tables_modifications/*csv
psyringae_group/scripts/ncbi_tables_modifications/*tsv
psyringae_group/scripts/ncbi_tables_modifications/*pdf
psyringae_group/scripts/ncbi_tables_modifications/01_assemblynames
psyringae_group/scripts/ncbi_tables_modifications/filtered_tables_and_plots/
psyringae_group/scripts/ncbi_tables_modifications/out_files/
psyringae_group/scripts/fixes/
psyringae_group/scripts_v2/*out
psyringae_group/scripts_v2/*fasta
psyringae_group/scripts_v2/extract_scripts/
psyringae_group/scripts_v2/genome_annotations/*out
psyringae_group/scripts_v2/genome_annotations/*err
psyringae_group/scripts_v2/genome_annotations/batch_scripts/
psyringae_group/scripts_v2/genome_annotations/config_files/
psyringae_group/scripts_v2/genome_annotations_2/*out
psyringae_group/scripts_v2/genome_annotations_2/*err
psyringae_group/scripts_v2/genome_annotations_2/batch_scripts/
psyringae_group/scripts_v2/genome_annotations_2/config_files/
psyringae_group/scripts_v2/genome_annotations_2/*csv
psyringae_group/scripts_v2/genome_annotations_2/batch_scripts_fix/
psyringae_group/scripts_v2/ncbi_tables_modifications/old_tables/
psyringae_group/scripts_v2/ncbi_tables_modifications/out_files/
psyringae_group/scripts_v2/ncbi_tables_modifications/*out
psyringae_group/scripts_v2/ncbi_tables_modifications/*csv
psyringae_group/scripts_v2/ncbi_tables_modifications/*tsv
psyringae_group/scripts_v2/ncbi_tables_modifications/01_assemblynames
psyringae_group/scripts_v2/ncbi_tables_modifications/filenames
psyringae_group/scripts_v2/phylogenomics/*out
psyringae_group/scripts_v2/phylogenomics/psyringae_group.code-workspace

truncated_sequences/nt
truncated_sequences/aa/final_alignments/
truncated_sequences/aa/manual_check_lastones/
truncated_sequences/aa/output_plots/
truncated_sequences/aa/output_plots_old/
truncated_sequences/aa/pbra/
truncated_sequences/aa/pflu/
truncated_sequences/aa/ppro/
truncated_sequences/aa/psav/
truncated_sequences/aa/psyr/
truncated_sequences/aa/pvir/
truncated_sequences/*txt
truncated_sequences/*out
truncated_sequences/*csv

mut_phylogenies/07_sptree_visualization_mutT.py
mut_phylogenies/data/
mut_phylogenies/mini_bar_plot/*png
mut_phylogenies/mut_genes/alignments/
mut_phylogenies/mut_genes/alignments_old/
mut_phylogenies/mut_genes/cluster_for_visualization/
mut_phylogenies/mut_genes/ecoli/
mut_phylogenies/mut_genes/sequences/
mut_phylogenies/mut_genes/trees/
mut_phylogenies/mut_genes/*out
mut_phylogenies/mut_genes/dnaQ*
mut_phylogenies/mut_genes/mutL*
mut_phylogenies/mut_genes/mutT*
mut_phylogenies/mut_genes/mutS*
mut_phylogenies/mut_genes/mutY*
mut_phylogenies/mut_genes/uvrD*
mut_phylogenies/sp_tree/*out
mut_phylogenies/sp_tree/abaumannii/
mut_phylogenies/sp_tree/faa_files/
mut_phylogenies/sp_tree/phylogeny/
mut_phylogenies/sp_tree/SCOs/
mut_phylogenies/sp_tree/SCOs_300/
mut_phylogenies/sp_tree/SCOs_500/
mut_phylogenies/sp_tree/sp_tree*
mut_phylogenies/sp_tree/*png
mut_phylogenies/sp_tree/*pdf




